/* Comments-section in scenario */
.comment-list-wrapper {
    margin-left: auto;
    margin-right: auto;

    width: 90%;
    margin-bottom: 1.25em;
}

.comment-list {
    
}

.comment-list > div:nth-child(even) {
    /*background-color: #d0d0d0;*/
}

.comment-list > div:nth-child(odd) {
    /*background-color: #d5d5d5;*/
}

.commentWrapper
{
    margin-left: auto;
    margin-right: auto;

    min-height: 5em;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    /*border-bottom-color: #ccc;*/

    font-size: 1em;
    font-family: 'latolight';
    color: white;

    padding: 1.25em 0.625em;
}

.scenarioWrapper.active .commentWrapper:hover
{
    /*background-color: inherit;/*background-color: #e6b61e;*/
    overflow-y: visible;
    cursor:pointer;
}

.content-short {
    white-space: pre-wrap;
    text-align: inherit;
    display: none;
    color: inherit;
}

.content-long {
    white-space: pre-wrap;
    text-align: inherit;
    display: none;
    color: inherit;
}

.content-edit {
    text-align: inherit;
    display: none;
}

.commentWrapper textarea {
    resize: none;
    border: 0px;
}

.commentWrapper p > img
{
    width: 2.75em;
    height: 2.75em;
    float: left;
    margin: 0.125em;
    margin-right: 0.5em;
    margin-top: 0;
}

.commentWrapper .placeholder {
    display: none;
    width: 100%;
}

.commentWrapper .placeholder .left-top {
    width: 10%;
}
.commentWrapper .placeholder .right-top {
    width: 10%;
}
.commentWrapper .placeholder .left-bottom {
    width: 10%;
}
.commentWrapper .placeholder .right-bottom {
    width: 10%;
}

.commentWrapper .placeholder .top { width: 100%;}
.commentWrapper .placeholder .center { width: 10%; margin-left: 45%; margin-right: 45%; }
.commentWrapper .placeholder .bottom { width: 100%; }
/*
.active-comment {
    background-color: #ddd;
}
/* !Comments-section in scenario */