.contextMenu 
{
    width: 3em;
    height: 100%;
    max-height: 100%;
    overflow-y: hidden;

    border-top-width: 1px;
    border-top-style: solid;
    /*border-top-color: #ccc;*/
    border-bottom-width: 2px;
    border-bottom-style: solid;
    /*border-bottom-color: #ccc;*/

    font-size: 1em;
    font-family: 'latolight';
    color: white;

    background-color: #FFFFFF;
    padding: 0.25em;

    z-index: 1;
}

.contextMenu.template
{
    display: none;
}

.contextIcon
{
    width: 2.5em;
    height: auto;
    margin-bottom: 1em;
    cursor: pointer;
}