
/* Scenario-list */
.scenario-list {
    padding: 0px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: inline-flex;
}

.scenario-list > li:nth-child(even) {
    background-color: #eee;
}

.scenario-list > li:nth-child(odd) {
    background-color: #ddd;
}
/* !Scenario-list */

/* Scenario */
.scenarioWrapper {
    min-width: 25em;
    width: 25em;
    height: 100%;
    max-height: 100%;
    overflow-y: hidden;
    
    border-top: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
}

@media (max-width: 767px) {
    .scenarioWrapper {
        min-width: 80%;
        width: 80%;
        max-width: 25em;
        height: 100%;
        max-height: 100%;
        border-top: 1px solid #ccc;
        border-bottom: 2px solid #ccc;
    }
}

.scenario {
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow-y: scroll;
	background-size: 100% 100%;
}

.color-bar {
    height: 1em;
}

.scenario .element-divider {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-bottom: 3px solid #ccc;
}

.scenario .event {
    margin-left: auto;
    margin-right: auto;
    width: inherit;
}

.scenario .emotions {
    padding: 5%;
}

.scenario .emotion {
    background-color: #ccc;
    width: 47%;
}


/* !Scenario */

.active-scenario {
    
}

/* Active color if the element in a talk scenario has class show or the scenario is active */
li.scenarioWrapper.talk .light.show, li.scenarioWrapper.talk.active-scenario .light {
    background-color: rgb(249, 200, 46);
}

/* Active color if the element in a talk scenario has class show or the scenario is active */
li.scenarioWrapper.talk .dark.show, li.scenarioWrapper.talk.active-scenario .dark {
    background-color: rgb(230, 182, 30);
}

/* Active color if the element in a talk scenario has class show or the scenario is active */
li.scenarioWrapper.hold-hands .light.show, li.scenarioWrapper.hold-hands.active-scenario .light {
    background-color: rgb(193, 57, 43);
}

/* Active color if the element in a talk scenario has class show or the scenario is active */
li.scenarioWrapper.hold-hands .dark.show, li.scenarioWrapper.hold-hands.active-scenario .dark {
    background-color: rgb(174, 39, 43);
}

.talk active-comment {
    background-color: #f9c82e;
}

.hold-hands {
    background-color: rgb(193, 57, 43);
}


.cuddle {
    background-color: #5d2e4e;
}

.kiss {
    background-color: #ccc;
}

.contextMenu 
{
    width: 3em;
    height: 37.9em;
    border-top: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
	background-color: #FFFFFF;
	padding: 0.25em;
}

.contextIcon
{
	width: 2.5em;
	height: auto;
	margin-bottom: 1em;
	cursor: pointer;
}

.fix
{
	overflow: hidden;
}

#screenWrapper
{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
}