<li class="scenarioWrapper template light">
    <div class="color-bar light show"></div>
    <div class="scenario">

        <img class="event" src="src/editButton(full)(action).png" alt="Event image">

        <p style="text-align: center;">Add new</p>
        <div class="element-divider"></div>

        <div class="emotions">
            <img class="emotion" src="src/editButton(full)(action).png" alt="Player emotion">
            <img class="emotion pull-right" src="src/editButton(full)(action).png" alt="Other emotion">
        </div>

        <div class="element-divider"></div>

        <div class="comment-list-wrapper">
            <div class="comment-list sortable">
                <div class="commentWrapper template light">
                    <p class="content-short"></p>
                    <p class="content-long"></p>
                    <textarea class="form-control content-edit" rows="3"></textarea>
                    <div class="placeholder">
                        <img class="top" src="src/editButton(upper).png"/>
                        <img class="center" src="src/editButton(add).png"/>
                        <img class="bottom" src="src/editButton(lower).png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>