<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"/>

        <link rel="stylesheet" href="../src/lato/stylesheet.css"/>

        <link rel="stylesheet" href="../templates/main.css"/>
        <link rel="stylesheet" href="../css/contextmenu.css"/>
        <link rel="stylesheet" href="../css/scenario.css"/>
        <link rel="stylesheet" href="../css/comment.css"/>
        <link rel="stylesheet" href="../css/colors.css"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

        <script src="../js/ContextMenuManager.js"></script>
        <script src="../js/CommentManager.js"></script>
        <script src="../js/ScenarioManager.js"></script>
        <script src="../js/DatabaseManager.js"></script>
        <script src="../js/HelperFunctions.js"></script>
        <script src="../js/Main.js"></script>
    </head>

    <body>

        <ul class="scenario-list">
            <li class="scenarioWrapper template light medium-border">
                <div class="color-bar light show"></div>
                <div class="placeholder-wrapper">
                    <div class="placeholder">
                        <img class="top" src="../src/editButton(upper).png"/>
                        <img class="center" src="../src/editButton(add).png"/>
                        <img class="bottom" src="../src/editButton(lower).png"/>
                    </div>
                </div>
                <div class="scenario">


                    <img class="event medium dark-border" src="../src/editButton(full)(action).png" alt="Event image"/>

                    <p style="text-align: center;">Add new</p>
                    <div class="element-divider medium-border"></div>

                    <div class="emotions">
                        <img class="emotion medium dark-border" src="../src/editButton(full)(action).png" alt="Player emotion"/>
                        <img class="emotion medium pull-right dark-border" src="../src/editButton(full)(action).png" alt="Other emotion"/>
                    </div>

                    <div class="element-divider medium-border"></div>

                    <div class="comment-list-wrapper">
                        <div class="comment-list sortable"></div>
                    </div>
                </div>
            </li>
            <div class="contextMenu dark template">
                <img class='contextIcon' src='../src/GUI/nav/navIcon[delete].png'/>
                <img class='contextIcon' src='../src/GUI/actionIcon[kletsen].png'/>
                <img class='contextIcon' src='../src/GUI/actionIcon[handen].png'/>
                <img class='contextIcon edit' src='../src/GUI/nav/editButton.png' />
            </div>
        </ul>
        <div id="screenWrapper"></div>
    </body>
</html>