<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"/>

        <link rel="stylesheet" href="../src/lato/stylesheet.css"/>

        <link rel="stylesheet" href="../templates/main.css"/>
        <link rel="stylesheet" href="../css/contextmenu.css"/>
        <link rel="stylesheet" href="../css/scenario.css"/>
        <link rel="stylesheet" href="../css/comment.css"/>
        <link rel="stylesheet" href="../css/colors.css"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

        <script src="../js/ContextMenuManager.js"></script>
        <script src="../js/CommentManager.js"></script>
        <script src="../js/ScenarioManager.js"></script>
        <script src="../js/DatabaseManager.js"></script>
        <script src="../js/HelperFunctions.js"></script>
        <script src="../js/Main.js"></script>
    </head>

    <body>

        <ul class="scenario-list">
            <li class="scenarioWrapper template light medium-border">
                <div class="color-bar light show"></div>
                <div class="placeholder-wrapper">
                    <div class="placeholder">
                        <img class="top" src="../src/editButton(upper).png"/>
                        <img class="center" src="../src/editButton(add).png"/>
                        <img class="bottom" src="../src/editButton(lower).png"/>
                    </div>
                </div>
                <div class="scenario">


                    <img class="event medium dark-border" src="../src/editButton(full)(action).png" alt="Event image" title="Selecteer een actie"/>

                    <p style="text-align: center;">Add new</p>
                    <div class="element-divider medium-border"></div>

                    <div class="emotions">
                        <img class="emotion medium dark-border" src="../src/editButton(full)(action).png" alt="Player emotion" title="Voeg jouw emotie toe"/>
                        <img class="emotion medium pull-right dark-border" src="../src/editButton(full)(action).png" alt="Other emotion" title="Voeg de emotie van de ander toe"/>
                    </div>

                    <div class="element-divider medium-border"></div>

                    <div class="comment-list-wrapper">
                        <div class="comment-list sortable"></div>
                    </div>
                </div>
            </li>
            <div class="contextMenu dark template">
                <div class="buttons">
                    <div class='scenario'>

                    </div>
                    <div class='event'>
                        <img class='contextIcon setevent' src='../src/events/aanraken.png' title="Aanraken"/>
                        <img class='contextIcon setevent' src='../src/events/handVasthouden.png' title="Handen vasthouden"/>
                        <img class='contextIcon setevent' src='../src/events/kletsen.png' title="Kletsen"/>
                        <img class='contextIcon setevent' src='../src/events/knuffelen.png' title="Knuffelen"/>
                        <img class='contextIcon setevent' src='../src/events/kussen.png' title="Kussen"/>
                        <img class='contextIcon setevent' src='../src/events/seks.png' title="Seks"/>
                        <img class='contextIcon setevent' src='../src/events/shoppen.png' title="Winkelen"/>
                        <img class='contextIcon setevent' src='../src/events/spelen.png' title="Spelen"/>
                        <img class='contextIcon setevent' src='../src/events/trainen.png' title="Trainen"/>
                        <img class='contextIcon setevent' src='../src/events/vriendschapSluiten.png' title="Vriendschap sluiten"/>
                    </div>
                    <div class='emotion'>
                        <img class='contextIcon setemotion' src='../src/emotions/bang.png' title="Bang"/>
                        <img class='contextIcon setemotion' src='../src/emotions/bedroefd.png' title="Bedroefd"/>
                        <img class='contextIcon setemotion' src='../src/emotions/blij.png' title="Blij"/>
                        <img class='contextIcon setemotion' src='../src/emotions/boos.png' title="Boos"/>
                    </div>
                    <div class='comment'>
                        <img class='contextIcon apply' src='../src/comments/apply.png' alt="apply" title="Wijzigingen accepteren"/>
                        <img class='contextIcon abort' src='../src/comments/abort.png' alt="abort" title="Wijzigingen annuleren"/>
                        <img class='contextIcon edit' src='../src/GUI/nav/editButton.png' title="Opmerking bewerken"/>
                    </div>
                    <div class='other'>
                        <img class='contextIcon delete' src='../src/GUI/deleteIcon.png'/>
                    </div>
                </div>
            </div>
        </ul>
        <div id="screenWrapper"></div>
    </body>
</html>